.add-two-numbers {
    margin: 0px auto;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 20vh;
    background: lightgray;
    border-radius: 15px;
    padding: 20px;
}